body,
html {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#month-heading {
	padding: 0.2em;
	box-sizing: border-box;
}

.container {
	height: auto;
	margin: 0 auto;
}

.container button {
	color: white;
	padding: 0.7em 1em;
	border: solid 4px white;
	border-radius: 7px;
	background-color: rgb(134, 172, 137);
}

#header {
	align-items: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#header>div {
	display: flex;
	gap: 2vw;
}

.day+#currentDay {
	background-color: #e8f4fa;
}

.prev-day {
	background-color: #fffcff !important;
	box-shadow: none !important;
}

#weekdays {
	display: flex;
	font-size: calc(0.5rem + 0.8vw);
	justify-content: space-evenly;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#weekdays div {
	transform: translateX(-1.5em);

	width: fit-content;
	padding: 10px;
}

.calendar-body {
	width: min(100%, 1000px);
	background-color: #eee;
	margin: auto;
	height: auto;
	position: relative;
}

.container h2 {
	font-size: calc(2.8vw + 1rem);
	text-align: center;
}

#calendar {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2% 0;
}

.day {
	font-size: calc(0.4rem + 1.3vw);
	width: 11.85%;
	padding: 10px;
	height: 11.85vmin;
	box-sizing: border-box;
	margin: 5px;
	background-color: #fff;
	box-shadow: 0px 0px 3px #cbd4c2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#preview h3 {
	color: rgb(37, 53, 81);
	font-style: italic;
	font-size: calc(1.2vw + 1rem);
}

#preview {
	display: flex;
	align-items: center;
	padding: 0 auto;
	width: 80%;
	margin: 5% auto;
	justify-content: center;
	border-top: 1px solid #000;
	gap: 2%;
	border-bottom: 1px solid #000;
}
